<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content fullscreen>
        <ion-card>
            <img [src]="contact.image" class="img-viewer"/>
            <ion-card-header>
                <ion-card-title>{{contact.name}}</ion-card-title>
                <ion-card-title>{{contact.phone}}</ion-card-title>
            </ion-card-header>
        </ion-card>
    </ion-content>
</ion-content>
