<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Contactos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar placeholder="Buscar contactos"></ion-searchbar>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div>
        <ion-list>
            <ion-item *ngFor="let contact of contacts" (click)="contactDetails(contact)">
                <ion-avatar slot="start">
                    <img [src]="contact.image">
                </ion-avatar>
                <ion-label>{{contact.name | uppercase}}</ion-label>
            </ion-item>
        </ion-list>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addContact()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
